body {
    font-family: 'Roboto', sans-serif;
    color: #152935 !important;
    overflow-x: hidden;
}

p {
    font-size: 16px;
    font-weight: 300;
}

h1,
h2 {
    font-weight: 300;
}

.btn {
    font-size: 14px;
    font-weight: 500;
}

.btn-primary {
    letter-spacing: 2px;
    color: #fff;
    background-color: #ec495c;
    border-color: initial;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d2182e;
    border-color: initial;
}

.btn-secondary {
    letter-spacing: 2px;
    color: #ec495c;
    background-color: #fff;
    border: 2px solid #ec495c;
    font-weight: 500;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #ec495c;
    border-color: #ec495c;
}

.btn-white {
    letter-spacing: 2px;
    color: #fff;
    background-color: #ec495c;
    border: 2px solid #fff;
    font-weight: 500;
}

.btn-white:hover {
    color: #ec495c;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary.focus,
.btn-secondary:focus {
    box-shadow: #d2182e;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d2182e;
    border-color: #d2182e;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ec495c;
    border-color: #ec495c;
}

.link-pri {
    color: #ec495c;
}

.link-pri:hover {
    color: #d2182e;
    text-decoration: none;
}

.link-sec {
    color: #fff;
}

.link-sec:hover {
    color: #fff;
    /* //text-decoration: none; */
}

.link-tri {
    color: #737f85;
}

.link-tri:hover {
    text-decoration: none;
    color: #ec495c;
}

*:hover,
*:active,
*:focus,
*:hover {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

/*Utilidades*/

.gradient-gris {
    background: rgba(140, 140, 140, 1);
    background: -moz-linear-gradient(top, rgba(140, 140, 140, 1) 0%, rgba(105, 105, 105, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(140, 140, 140, 1)), color-stop(100%, rgba(105, 105, 105, 1)));
    background: -webkit-linear-gradient(top, rgba(140, 140, 140, 1) 0%, rgba(105, 105, 105, 1) 100%);
    background: -o-linear-gradient(top, rgba(140, 140, 140, 1) 0%, rgba(105, 105, 105, 1) 100%);
    background: -ms-linear-gradient(top, rgba(140, 140, 140, 1) 0%, rgba(105, 105, 105, 1) 100%);
    background: linear-gradient(to bottom, rgba(140, 140, 140, 1) 0%, rgba(105, 105, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#696969', GradientType=0);
}

.w-20 {
    width: 20%;
}

.w-55 {
    width: 55%;
}

.w-90 {
    width: 90%;
}

.f-w-900 {
    font-weight: 900;
}

.f-w-700 {
    font-weight: 700;
}

.f-w-300 {
    font-weight: 300;
}

.f-w-500 {
    font-weight: 500;
}

.fnt-14 {
    font-size: 14px;
}

.fnt-12 {
    font-size: 12px;
}

.fnt-24 {
    font-size: 24px;
}

.l-s-1 {
    letter-spacing: 1px;
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.linea-black {
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.text-small {
    font-size: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-rosa {
    background-color: #ec495b;
}

.bg-naranja {
    background-color: #ec8d4e;
}

.bg-azul {
    background-color: #737f85;
}

.back-pink {
    background-color: #ec495c;
}

.back-gris {
    background-color: #757575;
}

.back-gris-claro {
    background: #f5f7fa;
}

.c-pink {
    color: #ec495c;
}

.c-gris {
    color: #737f85;
}

.c-white {
    color: #fff;
}

header {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #ec495c26;
}

main {
    padding-top: 3em;
}

.spinner {
    width: 100%;
    height: 100vh;
    background: #e6e6e6;
    z-index: 1000;
    position: fixed;
}

.spinner .fa-spinner {
    font-size: 2em;
}

.img-nav img {
    height: 40px;
}

nav{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

nav a{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar-light .navbar-toggler {
    color: rgb(236, 73, 92);
    border-color: rgb(252, 228, 231);
}

.navbar-toggler{
    padding: 5px;
}

.nav-home {
    position: absolute;
    top: 3%;
    width: 100%;
    z-index: -10;
}

.disabled {
    color: #252525;
}

.filtros img {
    height: 42px;
}

.filtros p {
    margin: 0;
}

.filtros:hover {
    cursor: pointer;
}
.filtros:hover p{
    font-weight: 500;
}

.filtros.active p {
    font-weight: 500;
}

.fomento {
    border-bottom: 3px solid #ec8d4e;
}

.mejoras {
    border-bottom: 3px solid #ec495b;
}

.ideas {
    border-bottom: 3px solid #757575;
}

.todas {
    border-bottom: 3px solid #f3f3f3;
}

.dvIdea {
    position: relative;
}

.dvIdeaCategoria {
    position: absolute;
    width: 170px;
    color: #fff;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-bottom: 0px;
    top: 78px;
    left: -78px;
    letter-spacing: 2px;
    height: 15px;
}

.dvIdeaCategoria p {
    font-size: 12px;
}

.dvIdea .dvIdeaBody {
    margin-left: 15px;
    background-color: #f5f7fa;
    height: 170px;
}

.dvIdea .dvIdeaBody p {
    line-height: 20px;
}

.dvIdeasPorCategoria {
    cursor: pointer;
    color: #ec495c;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 150px;
    font-weight: 300;
}

.dvIdeasPorCategoria:hover {
    background-color: #ec495c;
    color: #fff;
}

footer {
    background-color: #252525;
}

footer p {
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0;
}

#firma {
    position: absolute;
    color: rgba(130, 130, 130, 0.01);
    font-weight: 900;
    right: 0;
    padding-right: 5rem;
}

/*IDEA PAGINA*/

.top {
    background: rgba(236, 73, 92, 1);
    background: -moz-linear-gradient(left, rgba(236, 73, 92, 1) 0%, rgba(236, 141, 78, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236, 73, 92, 1)), color-stop(100%, rgba(236, 141, 78, 1)));
    background: -webkit-linear-gradient(left, rgba(236, 73, 92, 1) 0%, rgba(236, 141, 78, 1) 100%);
    background: -o-linear-gradient(left, rgba(236, 73, 92, 1) 0%, rgba(236, 141, 78, 1) 100%);
    background: -ms-linear-gradient(left, rgba(236, 73, 92, 1) 0%, rgba(236, 141, 78, 1) 100%);
    background: linear-gradient(to right, rgba(236, 73, 92, 1) 0%, rgba(236, 141, 78, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ec495c', endColorstr='#ec8d4e', GradientType=1);
    height: 5px;
}

.btn-back {
    cursor: pointer;
    background-color: #757575;
    color: #fff;
    width: 130px;
    font-size: 14px;
}

.btn-back i {
    margin-top: 3px;
}

.btn-back p {
    font-size: 14px;
}

.img-red {
    width: 40px;
    height: 40px;
}

/*SUBIR IDEA*/

.mensaje {
    margin-bottom: -2rem;
}

.form-control {
    padding: 0.85rem .8rem;
}

.custom-select {
    height: calc(2.25rem + 18px);
    color: #757575;
}

.fa-spinner {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.img-footer {
    height: 90px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*RESPONSIVE*/

@media only screen and (max-width: 440px) {
    p {
        font-size: 14px;
    }
    header .pt-5.d-flex.flex-column.col-md-7.text-center {
        padding-top: 0.5rem !important;
    }
    header .row {
        padding-top: 2rem !important;
    }
    header .row .pb-5 {
        padding-bottom: 1rem !important;
    }
    .dvIdeasPorCategoria {
        height: 55px;
    }
    footer .col-md-4 {
        text-align: center;
    }
    footer .col-md-4 p {
        text-align: center;
        padding-top: 1rem;
    }
    .hide-cel {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    nav{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    .navbar-nav{
        margin-top: .5rem;
    }
    .navbar-nav a{
        margin-bottom: .5rem;
        width: 100%;
    }
    main {
        padding-top: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .hide-cel {
        display: none;
    }
}